@model IEnumerable<ProjektPracownia.Models.CarMake>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@Html.DropDownList("dropList", "test" )
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.make)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (IEnumerable < ProjektPracownia.Models.CarMake >)ViewBag.itemList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.make)
            </td>
            <td class="editMakeFunc">
                <a asp-action="Edit" asp-route-id="@item.CarMakeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarMakeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarMakeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
